---
layout: default
title: My Blogs
permalink: /blog/
---

<section class="blogs" id="blogs">
    <div class="max-width">
        <h2 class="title">Latest Posts</h2>
        <div class="blogs-content">
            <ul>
                {% for post in site.posts %}
                <li>
                    <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                    <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
                    {% if post.excerpt %}
                    <p class="post-excerpt">{{ post.excerpt }}</p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>